/* Generated at https://csswarp.eleqtriq.com */

#warped {
  position: relative;
  display: block;
  width: 197px;
  height: 189px;
}

#warped > div > span[class^="w"]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped span {
  font-family: "ABeeZee";
  font-size: 38px;
  font-weight: regular;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

#warped .w0 {
  -moz-transform: rotate(-0.02rad);
  -webkit-transform: rotate(-0.02rad);
  -o-transform: rotate(-0.02rad);
  -ms-transform: rotate(-0.02rad);
  transform: rotate(-0.02rad);
  width: 19px;
  height: 24px;
  left: 83.3px;
  top: 4.01px;
}

#warped .w1 {
  -moz-transform: rotate(0.33rad);
  -webkit-transform: rotate(0.33rad);
  -o-transform: rotate(0.33rad);
  -ms-transform: rotate(0.33rad);
  transform: rotate(0.33rad);
  width: 13px;
  height: 24px;
  left: 106.94px;
  top: 7.23px;
}

#warped .w2 {
  -moz-transform: rotate(0.68rad);
  -webkit-transform: rotate(0.68rad);
  -o-transform: rotate(0.68rad);
  -ms-transform: rotate(0.68rad);
  transform: rotate(0.68rad);
  width: 19px;
  height: 24px;
  left: 122.23px;
  top: 17.35px;
}

#warped .w3 {
  -moz-transform: rotate(1.03rad);
  -webkit-transform: rotate(1.03rad);
  -o-transform: rotate(1.03rad);
  -ms-transform: rotate(1.03rad);
  transform: rotate(1.03rad);
  width: 13px;
  height: 24px;
  left: 138.94px;
  top: 33.11px;
}

#warped .w4 {
  -moz-transform: rotate(1.38rad);
  -webkit-transform: rotate(1.38rad);
  -o-transform: rotate(1.38rad);
  -ms-transform: rotate(1.38rad);
  transform: rotate(1.38rad);
  width: 19px;
  height: 24px;
  left: 143.41px;
  top: 52.62px;
}

#warped .w5 {
  -moz-transform: rotate(1.73rad);
  -webkit-transform: rotate(1.73rad);
  -o-transform: rotate(1.73rad);
  -ms-transform: rotate(1.73rad);
  transform: rotate(1.73rad);
  width: 13px;
  height: 24px;
  left: 146.73px;
  top: 73.51px;
}

#warped .w6 {
  -moz-transform: rotate(2.08rad);
  -webkit-transform: rotate(2.08rad);
  -o-transform: rotate(2.08rad);
  -ms-transform: rotate(2.08rad);
  transform: rotate(2.08rad);
  width: 19px;
  height: 24px;
  left: 136.88px;
  top: 93.25px;
}

#warped .w7 {
  -moz-transform: rotate(2.43rad);
  -webkit-transform: rotate(2.43rad);
  -o-transform: rotate(2.43rad);
  -ms-transform: rotate(2.43rad);
  transform: rotate(2.43rad);
  width: 13px;
  height: 24px;
  left: 126.67px;
  top: 109.44px;
}

#warped .w8 {
  -moz-transform: rotate(2.78rad);
  -webkit-transform: rotate(2.78rad);
  -o-transform: rotate(2.78rad);
  -ms-transform: rotate(2.78rad);
  transform: rotate(2.78rad);
  width: 19px;
  height: 24px;
  left: 105.71px;
  top: 120.12px;
}

#warped .w9 {
  -moz-transform: rotate(3.13rad);
  -webkit-transform: rotate(3.13rad);
  -o-transform: rotate(3.13rad);
  -ms-transform: rotate(3.13rad);
  transform: rotate(3.13rad);
  width: 13px;
  height: 24px;
  left: 88.18px;
  top: 123.99px;
}

#warped .w10 {
  -moz-transform: rotate(3.48rad);
  -webkit-transform: rotate(3.48rad);
  -o-transform: rotate(3.48rad);
  -ms-transform: rotate(3.48rad);
  transform: rotate(3.48rad);
  width: 19px;
  height: 24px;
  left: 64.57px;
  top: 120.59px;
}

#warped .w11 {
  -moz-transform: rotate(3.83rad);
  -webkit-transform: rotate(3.83rad);
  -o-transform: rotate(3.83rad);
  -ms-transform: rotate(3.83rad);
  transform: rotate(3.83rad);
  width: 13px;
  height: 24px;
  left: 49.37px;
  top: 110.33px;
}

#warped .w12 {
  -moz-transform: rotate(4.18rad);
  -webkit-transform: rotate(4.18rad);
  -o-transform: rotate(4.18rad);
  -ms-transform: rotate(4.18rad);
  transform: rotate(4.18rad);
  width: 19px;
  height: 24px;
  left: 32.8px;
  top: 94.44px;
}

#warped .w13 {
  -moz-transform: rotate(4.53rad);
  -webkit-transform: rotate(4.53rad);
  -o-transform: rotate(4.53rad);
  -ms-transform: rotate(4.53rad);
  transform: rotate(4.53rad);
  width: 13px;
  height: 24px;
  left: 28.49px;
  top: 74.87px;
}

#warped .w14 {
  -moz-transform: rotate(4.88rad);
  -webkit-transform: rotate(4.88rad);
  -o-transform: rotate(4.88rad);
  -ms-transform: rotate(4.88rad);
  transform: rotate(4.88rad);
  width: 19px;
  height: 24px;
  left: 25.34px;
  top: 53.98px;
}

#warped .w15 {
  -moz-transform: rotate(5.23rad);
  -webkit-transform: rotate(5.23rad);
  -o-transform: rotate(5.23rad);
  -ms-transform: rotate(5.23rad);
  transform: rotate(5.23rad);
  width: 13px;
  height: 24px;
  left: 35.36px;
  top: 34.3px;
}

#warped .w16 {
  -moz-transform: rotate(5.58rad);
  -webkit-transform: rotate(5.58rad);
  -o-transform: rotate(5.58rad);
  -ms-transform: rotate(5.58rad);
  transform: rotate(5.58rad);
  width: 19px;
  height: 24px;
  left: 45.7px;
  top: 18.22px;
}

#warped .w17 {
  -moz-transform: rotate(5.93rad);
  -webkit-transform: rotate(5.93rad);
  -o-transform: rotate(5.93rad);
  -ms-transform: rotate(5.93rad);
  transform: rotate(5.93rad);
  width: 13px;
  height: 24px;
  left: 66.75px;
  top: 7.7px;
}
